{% extends "template.html" %}
{% block content %}

<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row">
			<div class="col-lg-12">
				<div class="error-page">
					<div class="bg-image" style="background-image: url(../static/images/resources/404.jpg)"></div>
					<div class="error-meta">
						<h1>whoops!</h1>
						<br>
						<span>{{ error_msg }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}