{% extends "layout.html" %}
{% block content %}

<div class="col-lg-9">
	<div class="central-meta">
		{% if files|length %}
		<div class="row">
			{% for file in files %}
			<div class="col-md-6">
				<audio controls>
					<source src="static/BLOB/{{email}}/posts/audios/{{file}}">
				</audio>
			</div>
			<div class="col-md-6">
				<div style="padding-top:15px;">{{file}}</div>
			</div>
			{% endfor %}
		</div>
		{% else %}
			<div class="alert alert-danger" role="alert">
				<center>No Audios Uploaded Yet!!</center>
			</div>
		{% endif%}
	</div>


{% endblock %}