{% extends "edit-layout.html" %}
{% block content %}

<div class="col-lg-6">
	<div class="central-meta">
		<div class="editing-info">
			<h5 class="f-title"><i class="ti-info-alt"></i> Edit work & Education</h5>

			<form method="post" action="/edit_work">
				<p>Education : </p>
				<div class="form-group half">	
					<input type="text" id="input" name="course" value = "{{profile['course']}}" required="required" />
					<label class="control-label" for="input">Course</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group half">	
					<input type="text" id="input" name="institution" value = "{{profile['institution']}}" required="required" />
					<label class="control-label" for="input">Institution</label><i class="mtrl-select"></i>
				</div>
				<p>Work : </p>
				<div class="form-group half">	
					<input type="text" id="input" name="occupation" value = "{{profile['occupation']}}" required="required"/>
					<label class="control-label" for="input">Occupation</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group half">	
					<input type="text" id="input"name="organization" value = "{{profile['organization']}}"  required="required"/>
					<label class="control-label" for="input">Organization</label><i class="mtrl-select"></i>
				</div>
				<div class="submit-btns">
					<button type="reset" class="mtr-btn"><span>Cancel</span></button>
					<button type="submit" class="mtr-btn"><span>Update</span></button>
				</div>
			</form>
		</div>
	</div>	
</div>

{% endblock %}