<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Edit Profile</title>
    
    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="topbar sticky" style="position:fixed;width:100%;">
		<span class="logo"> <img src="../static/images/Icon.jpeg" alt="">
		</span>
	</div><!-- topbar -->
	
	

	<section>
		<div class="feature-photo">
			<figure><img src="static/BLOB/{{profile['email']}}/images/{{profile['cover']}}" style="height:400px;"></figure>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img  src="static/BLOB/{{profile['email']}}/images/{{profile['display']}}">
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h3 style="color:#3468FA;">{{profile['fname']}} {{profile['lname']}}</h3>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
	

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Edit info</h4>
										<ul class="naves">
											<li>
												<i class="ti-info-alt"></i>
												<a title="" href="/edit_basic">Basic info</a>
											</li>
											<li>
												<i class="ti-mouse-alt"></i>
												<a title="" href="/edit_work">Education &amp; Work</a>
											</li>
											<li>
												<i class="ti-heart"></i>
												<a title="" href="/edit_interest">My interests</a>
											</li>
											<li>
												<i class="ti-world"></i>
												<a title="" href="/edit_language">Languages</a>
											</li>
											<li>
												<i class="ti-lock"></i>
												<a title="" href="/edit_password">change password</a>
											</li>
										</ul>
									</div><!-- settings widget -->
								</aside>
							</div><!-- sidebar -->
                            
                            {% block content %}{% endblock %}
                            
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Profile Intro</h4>
										<ul class="short-profile">
											<li>
												<span>about</span>
												<p>{{profile['about']}}</p>
											</li>
											<li>
												<span>Interests</span>
												<ul class="list">
													{% for res in profile['interest'] %}
														<li class="fa fa-circle">    {{res}}</li>
													{% endfor %}
												</ul>
											</li>
											<li>
												<span>Languages</span>
												<ul class="list">
												{% for res in profile['language'] %}
													<li class="fa fa-circle">    {{res}}</li>
												{% endfor %}
												</ul>
											</li>
										</ul>
									</div>
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="foot-logo">
							<div class="logo">
								<img src="../static/images/Icon.jpeg" alt="">
							</div>
							<p>
							Patrons Pool Portal is a platform where an Idea is shared with Sponsors, to recieve Funds in a hassle free manner.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>B MANISH</h4></div>
							B.E(CSE, RNSIT), Bangalore<br>
                        	Full Stack Developer <br><br>
						    AWS Certified Cloud Support Associate, Working for Amazon Web Services as Cloud Support Intern since Feb 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>NISHANT SHARMA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Associate, Will be Working for Cimpress as Software Developer from Aug 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>SANKALP SAXENA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Professional, Working for HashedIn as Software Developer since Jan 2020.
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
</div>

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	

</html>