{% extends "edit-layout.html" %}
{% block content %}

<div class="col-lg-6">
	<div class="central-meta">
		<div class="editing-info">
			<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Information</h5>

			<form method="post" action='/edit_basic'>
				<div class="form-group half">	
					<input type="text" id="input" name="fname" value = "{{profile['fname']}}" required="required"/>
					<label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group half">	
					<input type="text" name="lname" value = "{{profile['lname']}}" required="required"/>
					<label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="text" name="phone" value = "{{profile['phone']}}"required="required"/>
					<label class="control-label" for="input">Phone No.</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="text" name="website" value = "{{profile['website']}}"required="required"/>
					<label class="control-label" for="input">Website</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="text" name="address" value = "{{profile['address']['line']}}" required="required"/>
					<label class="control-label" for="input">Address</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="text" name="city" value = "{{profile['address']['city']}}" required="required"/>
					<label class="control-label" for="input">City</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="text" name="country" value = "{{profile['address']['country']}}" required="required"/>
					<label class="control-label" for="input">Country</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<textarea rows="5" id="about" name="about" required="required">{{profile['about']}}</textarea>
					<label class="control-label" for="about">About Me</label><i class="mtrl-select"></i>
				</div>
				<div class="submit-btns">
					<button type="reset" class="mtr-btn"><span>Cancel</span></button>
					<button type="submit" class="mtr-btn"><span>Update</span></button>
				</div>
			</form>
		</div>
	</div>	
</div>

{% endblock %}