{% extends "edit-layout.html" %}
{% block content %}

<div class="col-lg-6">
	<div class="central-meta">
		<div class="editing-info">
			<h5 class="f-title"><i class="ti-lock"></i>Change Password</h5>
			
			<form method="post" action="/edit_password">
				<div class="form-group">	
					<input type="password" id="input" name="new_pass" required="required"/>
					<label class="control-label" for="input">New password</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="password" name="con_pass" required="required"/>
					<label class="control-label" for="input">Confirm password</label><i class="mtrl-select"></i>
				</div>
				<div class="form-group">	
					<input type="password" name="cur_pass" required="required"/>
					<label class="control-label" for="input">Current password</label><i class="mtrl-select"></i>
				</div>
				<a class="forgot-pwd underline" title="" href="#">Forgot Password?</a>
				<div class="submit-btns">
					<button type="reset" class="mtr-btn"><span>Cancel</span></button>
					<button type="submit" class="mtr-btn"><span>Update</span></button>
				</div>
			</form>
		</div>
	</div>	
</div>

{% endblock %}