{% extends "edit-layout.html" %}
{% block content %}

<div class="col-lg-6">
	<div class="central-meta">
		<div class="editing-interest">
			<h5 class="f-title"><i class="ti-world"></i>Languages</h5>
			<form id="form1" method="post" action="/edit_language">
				<label>Add languages: </label>
				<input type="text" name="lang" id="lang" placeholder="English, Hindi, Kannada...">
				<input type="text" name="arrval" hidden id="int">
				<button type="button" onclick="add();">Add</button>
				<div id="languages"></div>
				<div class="submit-btns">
					<button type="reset" class="mtr-btn"><span>Cancel</span></button>
					<button type="submit" class="mtr-btn"><span>Update</span></button>
				</div>
			</form>
		</div>
	</div>	
</div>

<script type = "text/javascript">
	var arr = Array();
	{% for lan in  profile['languages'] %} 
		var i = '{{ lan }}';
		arr.push(i);
		document.getElementById("int").value += i + " ";
		document.getElementById("languages").innerHTML += '<p><span>' + i + '</span><i class="fa fa-close size" onclick="rem(\'' + i + '\')"></i></p>';
	{% endfor %}
	function add() {
		var i = form1.elements.lang.value;
		arr.push(i);
		document.getElementById("lang").value = "";
		document.getElementById("int").value += i + " ";
		document.getElementById("languages").innerHTML += '<p><span>' + i + '</span><i class="fa fa-close size" onclick="rem(\'' + i + '\')"></i></p>';
	}
	function rem(s) {
		var i = arr.indexOf(s);
		arr.splice(i,1);
		document.getElementById("languages").innerHTML = "";
		document.getElementById("int").value = "";
		for(i=0;i<arr.length;i++) {
			document.getElementById("int").value += i + " ";
			document.getElementById("languages").innerHTML += '<p><span>' + arr[i] + '</span><i class="fa fa-close size" onclick="rem(\'' + arr[i] + '\')"></i></p>';
		}
	} 
</script>

{% endblock %}