<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>{{title}}</title>

    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
	<style type="text/css">
	    ul.basics > li {
			font-size:18px;
		}
		#work > p {
			font-size:18px;
		}
		button:hover {
			box-shadow: 5px 5px 5px 5px grey;
		}
		.icon {
			width:20%;
			height:auto;
		}
		.right {
			margin-right:5%;
		}
		.nav-item {
			font-size:18px;
		}
	</style>
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	  <img src="../static/images/Icon.jpeg" class="icon">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto" style="margin:0 auto;">
			  <li class="nav-item">
				<a class="nav-link" href="/home">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/profile">Profile</a>
			  </li>
			  {% if session['isSponsor'] == 0 %}
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Uploads
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="/images">Images</a>
				  <a class="dropdown-item" href="/audios">Audios</a>
					<a class="dropdown-item" href="/videos">Videos</a>
				  <a class="dropdown-item" href="/documents">Documents</a>
				</div>
			  </li>
			  {% endif %}
			  {% if search is defined %}
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Filter Posts By
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				  <a class="dropdown-item" href="url_for('/filters',val=0)">All</a>
					<a class="dropdown-item" href="url_for('/filters',val=1)">Images</a>
				  <a class="dropdown-item" href="url_for('/filters',val=2)">Audios</a>
					<a class="dropdown-item" href="url_for('/filters',val=3)">Videos</a>
				  <a class="dropdown-item" href="url_for('/filters',val=4)">Documents</a>
				</div>
			  </li>
			  {% endif %}
			</ul>


		<form class="form-inline my-2 my-lg-0 right" method="GET" action="search">
		  <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<button class="btn btn-primary"><a href="/logout">Logout</a></button>
	  </div>
	</nav>