<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Home</title>
    
    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
	<style type="text/css">
		button:hover {
			box-shadow: 5px 5px 5px 5px grey;
		}
		.nav-item {
			margin:0% 1%;
			font-size:18px;
		}
		.logo {
			padding-top:10px;
			margin-left:5%;
		}
		.navbar {
			padding: 0px;
		}
	</style>
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	  <a class="navbar-brand logo" href="#"><img src="../static/images/Icon.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:5%;">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/profile">Profile</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/images">Images</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/audios">Audio</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/videos">Video</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/documents">Documents</a>
		  </li>
		</ul>
	  </div>
		  <form class="form-inline my-2 my-lg-0" method="GET" action="search" style="margin-right:5%;">
		  <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<button class="btn btn-primary" style="margin-right:2%;"><a href="/logout">Logout</a></button>
	</nav>
	<section style="margin-top:60px;">
		<div class="gap gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
					{% if msg %}
					<div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
						<h5>{{msg}}</h5>
						<button type="button" class="close" onclick="alert()">
						<span aria-hidden="true">&times;</span>
					  	</button>
					</div>
					{% endif %}
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="/profile" title="">Profile</a>
											</li>
											<li>
												<i class="ti-image"></i>
												<a href="/images" title="">Images</a>
											</li>
											<li>
												<i class="ti-video-camera"></i>
												<a href="/videos" title="">Videos</a>
											</li>
											<li>
												<i class="ti-volume"></i>
												<a href="/audios" title="">Audios</a>
											</li>
											<li>
												<i class="ti-files"></i>
												<a href="/documents" title="">Documents</a>
											</li>
											<li>
												<i class="ti-power-off"></i>
												<a href="/logout" title="">Logout</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->
									
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="new-postbox">
										<figure>
											<img src="static/BLOB/{{profile['email']}}/images/{{profile['display']}}" alt="">
										</figure>
										<div class="newpst-input">
											<form action="/addpost" method="post" enctype="multipart/form-data">
												<textarea rows="3" name="headline" placeholder="write something" required></textarea>
												<div class="attachments">
													<ul>
														<li>
															<i class="fa fa-music"></i>
															<label class="fileContainer">
																<input type="file" name="audio" accept="audio/*">
															</label>
														</li>
														<li>
															<i class="fa fa-image"></i>
															<label class="fileContainer">
																<input type="file" name="image" accept="image/*">
															</label>
														</li>
														<li>
															<i class="fa fa-video-camera"></i>
															<label class="fileContainer">
																<input type="file" name="video" accept="video/*">
															</label>
														</li>
														<li>
															<i class="fa fa-file"></i>
															<label class="fileContainer">
																<input type="file" name="document" accept=".pdf">
															</label>
														</li>
														<li>
															<button type="submit" name="submit">Post</button>
														</li>
													</ul>
												</div>
												<br>
												Base Price:  <input type="number" name="base_price" required>
											</form>
										</div>
									</div>
								</div>

								{% for post in posts[::-1] %}
								<!-- add post new box -->
								<div class="loadMore">
								<div class="central-meta item" style="box-shadow:5px 5px 5px 5px grey;">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img src="static/BLOB/{{profile['email']}}/images/{{profile['display']}}" alt="">
											</figure>
											<div class="friend-name">
												<ins><a href="time-line.html" title="">{{ session['name'] }}</a></ins>
												<span> Published on: {{ post['date_time_added'] }}</span>
											</div>
											<div class="post-meta">
												<div class="description">
													
													<p> {{ post.post_headline }} </p>

												</div>
												{% if post.post_type == 'image' %}
													<img src="static/BLOB/{{session['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" align="middle">
												{% endif %}
												{% if post.post_type == 'video' %}
													<video width="100%" height="auto" controls>
														<source  src="static/BLOB/{{session['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" align="middle">
													</video>
												{% endif %}
												{% if post.post_type == 'audio' %}
													<center>
													<audio controls>
														<source src="static/BLOB/{{session['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}">
													</audio>
													</center>
												{% endif %}
												{% if post.post_type == 'document' %}
													<object data="static/BLOB/{{session['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" height="auto" width="100%"></object>
												{% endif %}
												<br>
												<div class="row" style="padding:10px;">
													<div class="col-md-6">Base Price: {{post.base_price}}</div>
												{% if post.bid_price|length %}
													<div class="col-md-6">Max. Bid Price: {{post.bid_price|last}} </div>
												</div>
													<table class="table table-striped">
													  <thead>
														<tr>
														  <th scope="col">Bid Price</th>
														  <th scope="col">Bid Person</th>
														</tr>
													  </thead>
													  <tbody>
														  {% for i in post.bid_price %}
														  {% set price = post.bid_price[loop.index-1] %}
														  {% set name = post.bidding_person[loop.index-1] %}
																<tr>
																	<td>{{price}}</td>
																	<td>{{name}}</td>
																</tr>
														  {% endfor %}
													  </tbody>
												</table>
												{% else %}
															<div class="col-md-6">Max. Bid Price: --- </div>
														</div>
													<center class="alert alert-danger" role="alert">
														<center>No Bids PLaced Yet!!</center>
													</div>
												{% endif %}
												<br>
											</div>

											<center>
												<form action="delete_post" method="POST">
													<input type="text" name="filename" value="{{ post.post_name }}" hidden>
													<input type="text" name="folder" value="{{ post.post_type }}" hidden>
													<input type="text" name="date_time" value="{{ post.date_time_added }}" hidden>
													<input type="text" name="headline" value="{{ post.post_headline }}" hidden>
													<button type="submit">Delete</button>
												</form>
											</center>
										</div>

									</div>
								</div>

								{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="foot-logo">
							<div class="logo">
								<img src="../static/images/Icon.jpeg" alt="">
							</div>
							<p>
							Patrons Pool Portal is a platform where an Idea is shared with Sponsors, to recieve Funds in a hassle free manner.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>B MANISH</h4></div>
							B.E(CSE, RNSIT), Bangalore<br>
                        	Full Stack Developer <br><br>
						    AWS Certified Cloud Support Associate, Working for Amazon Web Services as Cloud Support Intern since Feb 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>NISHANT SHARMA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Associate, Will be Working for Cimpress as Software Developer from Aug 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>SANKALP SAXENA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Professional, Working for HashedIn as Software Developer since Jan 2020.
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
</div>	

	<script type="text/javascript">
		function alert() {
			document.getElementById('alert').style.display = "none";
		}
	</script>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
</body>	

</html>