{% extends "layout.html" %}
{% block content %}

<div class="col-lg-6">
	<div class="central-meta">
		{% if files|length %}
		<ul class="photos">
			{% for file in files %}
			<li>
				<a class="strip" href="../static/BLOB/{{email}}/posts/images/{{file}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
					<img src="static/BLOB/{{email}}/posts/images/{{file}}" style="height:200px;">
			</li>
			{% endfor %}
		</ul>
		{% else %}
			<div class="alert alert-danger" role="alert">
				<center>No Images Uploaded Yet!!</center>
			</div>
		{% endif%}
	</div><!-- photos -->

{% endblock %}