{% include "header.html" %}

	<section style="margin-top:60px;">
		<div class="feature-photo">
			<figure><img src="static/BLOB/{{profile['email']}}/images/{{profile['cover']}}" style="height:400px;"></figure>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img  src="static/BLOB/{{profile['email']}}/images/{{profile['display']}}">
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{profile['fname']}} {{profile['lname']}}</h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Shortcuts</h4>
										<ul class="naves">
											<li>
												<i class="ti-clipboard"></i>
												<a href="/profile" title="">Profile</a>
											</li>
											<li>
												<i class="ti-money"></i>
												<a href="/transaction" title="">Transactions</a>
											</li>
											<li>
												<i class="ti-image"></i>
												<a href="/images" title="">Images</a>
											</li>
											<li>
												<i class="ti-video-camera"></i>
												<a href="/videos" title="">Videos</a>
											</li>
											<li>
												<i class="ti-volume"></i>
												<a href="/audios" title="">Audios</a>
											</li>
											<li>
												<i class="ti-files"></i>
												<a href="/documents" title="">Documents</a>
											</li>
											<li>
												<i class="ti-power-off"></i>
												<a href="/logout" title="">Logout</a>
											</li>
										</ul>
									</div><!-- Shortcuts -->
									<div class="widget">
										<h4 class="widget-title">Profile Intro</h4>
										<ul class="short-profile">
											<li>
												<span>about</span>
												<p>{{profile['about']}}</p>
											</li>
											<li>
												<span>Interests</span>
												<ul class="list">
													{% for res in profile['interest'] %}
														<li class="fa fa-circle">    {{res}}</li>
													{% endfor %}
												</ul>
											</li>
											<li>
												<span>Languages</span>
												<ul class="list">
												{% for res in profile['language'] %}
													<li class="fa fa-circle">    {{res}}</li>
												{% endfor %}
												</ul>
											</li>
										</ul>
									</div>
									</aside>
								</div><!-- sidebar -->


	{% block content %}{% endblock %}

	</div><!-- centerl meta -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% include "footer.html" %}

