<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile</title>

    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
	<style type="text/css">
		ul.basics > li {
			font-size:18px;
		}
		#work > p {
			font-size:18px;
		}
		button:hover {
			box-shadow: 5px 5px 5px 5px grey;
		}
		.nav-item {
			margin:0% 5%;
			font-size:18px;
		}
		.logo {
			padding-top:10px;
			margin-left:5%;
		}
		.navbar {
			padding: 0px;
		}
	</style>
</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<nav class="navbar navbar-expand-lg navbar-light  bg-light fixed-top">
	  <a class="navbar-brand logo" href="#"><img src="../static/images/Icon.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:25%;">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/profile">Profile</a>
		  </li>
		</ul>
	  </div>
		  <form class="form-inline my-2 my-lg-0" style="margin-right:5%;">
		  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<button class="btn btn-primary" style="margin-right:2%;"><a href="/logout">Logout</a></button>
	</nav>
	

	<section style="margin-top:60px;">
		<div class="feature-photo">
			<figure><img src="static/BLOB/{{profile['email']}}/images/{{profile['cover']}}" alt="" style="height:400px;"></figure>
			<form method="POST" class="edit-phto" action="/add_profile_photos" id="upload_form"  enctype="multipart/form-data">
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					<input type="file" accept="image/*" id="myfile" name="myfile">Edit Cover Photo
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="static/BLOB/{{profile['email']}}/images/{{profile['display']}}">
								<form method="POST" class="edit-phto" action="/add_profile_photos" id="upload_form1"  enctype="multipart/form-data">
									<i class="fa fa-camera-retro"></i>
										<label class="fileContainer">
											<input type="file" accept="image/*" id="myfile1" name="myfile1">Edit Display Photo
										</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h3 style="color:#3468FA;">{{profile['fname']}} {{profile['lname']}}</h3>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								
								<aside class="sidebar static">
									<div class="widget">
									<h4 class="widget-title">Edit info</h4>
									<ul class="naves">
										<li>
											<i class="ti-info-alt"></i>
											<a title="" href="/edit_basic">Basic info</a>
										</li>
										<li>
											<i class="ti-mouse-alt"></i>
											<a title="" href="/edit_work">Education &amp; Work</a>
										</li>
										<li>
											<i class="ti-heart"></i>
											<a title="" href="/edit_interest">My interests</a>
										</li>
										<li>
											<i class="ti-world"></i>
											<a title="" href="/edit_language">Languages</a>
										</li>
										<li>
											<i class="ti-lock"></i>
											<a title="" href="/edit_password">change password</a>
										</li>
									</ul>
								</div>									
								</aside>
							</div><!-- sidebar -->


							<div class="col-lg-9">
								<div class="central-meta">
									<div class="about">
										<div class="personal">
											<h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
											<p style="font-size:20px;">
												{{profile['about']}}
											</p>
										</div>
										<div class = "container">
											<div class = "row">
												<div class = "col-sm-3">
													<button onclick="basic()" class="width" id="b1">Basic Info</button>
													<button onclick="locations()" class="width" id="b2">Location</button>
													<button onclick="work()" class="width" id="b3">Work and Education</button>
													<button onclick="interest()" class="width" id="b4">Interests</button>
													<button onclick="langs()" class="width" id="b5">Languages</button>
												</div>
												<div class="col-sm-9" id="border" style="box-shadow:5px 5px 5px 5px grey;">
													<div class="tab-pane" id="basic" >
														<ul class="basics">
															<li><i class="ti-user"></i>{{profile['fname']}} {{profile['lname']}}</li>
															<li><i class="ti-email"></i>{{profile['email']}}</li>
															{% if profile['address']['city'] != ""%}
																<li><i class="ti-map-alt"></i>Living in {{profile['address']['city']}}</li>
															{% endif %}
															{% if profile['phone'] != ""%}
																<li><i class="ti-map-alt"></i>{{profile['phone']}}</li>
															{% endif %}
															{% if profile['website'] != ""%}
																<li><i class="ti-map-alt"></i>{{profile['website']}}</li>
															{% endif %}
														</ul>
													</div>
													<div class="tab-pane" id="location" role="tabpanel">
														<ul class="basics">
															{% if profile['address']['line'] != ""%}
																<li>Address : {{profile['address']['line']}}</li>
															{% endif %}
															{% if profile['address']['city'] != ""%}
																<li>City : {{profile['address']['city']}}</li>
															{% endif %}
															{% if profile['address']['country'] != ""%}
																<li>Country : {{profile['address']['country']}}</li>
															{% endif %}
														</ul>
													</div>
													<div class="tab-pane" id="work" role="tabpanel">
														<p>Working as {{profile['occupation']}} at {{profile['organization']}}</p>
														{% if profile['course']|length %}
														<p>Education : {{profile['course']}} at {{profile['institution']}}</p>
														{% endif %}
													</div>
													<div class="tab-pane" id="interest" role="tabpanel">
														<ul class="basics">
															{% for res in profile['interest'] %}
																<li>{{res}}</li>
															{% endfor %}
														</ul>
													</div>
													<div class="tab-pane" id="lang" role="tabpanel">
														<ul class="basics">
															{% for res in profile['language'] %}
																<li>{{res}}</li>
															{% endfor %}
														</ul>
													</div>
												</div>	
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="foot-logo">
							<div class="logo">
								<img src="../static/images/Icon.jpeg" alt="">
							</div>
							<p>
							Patrons Pool Portal is a platform where an Idea is shared with Sponsors, to recieve Funds in a hassle free manner.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>B MANISH</h4></div>
							B.E(CSE, RNSIT), Bangalore<br>
                        	Full Stack Developer <br><br>
						    AWS Certified Cloud Support Associate, Working for Amazon Web Services as Cloud Support Intern since Feb 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>NISHANT SHARMA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Associate, Will be Working for Cimpress as Software Developer from Aug 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>SANKALP SAXENA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Professional, Working for HashedIn as Software Developer since Jan 2020.
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
</div>
	
	<script type = "text/javascript">

   	    document.getElementById("upload_form").onchange = function() {
		   document.getElementById("upload_form").submit();
		};
		document.getElementById("upload_form1").onchange = function() {
		   document.getElementById("upload_form1").submit();
		};
 		function off(s1,s2,s3,s4,b1,b2,b3,b4) {
			document.getElementById(s1).style.display = "none";
			document.getElementById(s2).style.display = "none";
			document.getElementById(s3).style.display = "none";
			document.getElementById(s4).style.display = "none";
			document.getElementById(b1).style.backgroundColor = "white";
			document.getElementById(b1).style.color = 'black';
			document.getElementById(b2).style.backgroundColor = "white";
			document.getElementById(b2).style.color = 'black';
			document.getElementById(b3).style.backgroundColor = "white";
			document.getElementById(b3).style.color = 'black';
			document.getElementById(b4).style.backgroundColor = "white";
			document.getElementById(b4).style.color = 'black';
		}
		function on(s1,b1) {
			document.getElementById(s1).style.display = "block";
			document.getElementById(b1).style.backgroundColor = "#3468FA";
			document.getElementById(b1).style.color = 'white';
		}
		function basic() {
			on('basic','b1');
			off('location','work','interest','lang','b2','b3','b4','b5');
		}
		function locations() {
			on('location','b2');
			off('basic','work','interest','lang','b1','b3','b4','b5');
		}
		function work() {
			on('work','b3');
			off('location','basic','interest','lang','b2','b1','b4','b5');
		}
		function interest() {
			on('interest','b4');
			off('location','work','basic','lang','b2','b3','b1','b5');
		}
		function langs() {
			on('lang','b5');
			off('location','work','interest','basic','b2','b3','b4','b1');
		}
		basic();
	</script>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	

</html>