<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Home</title>

    <link rel="stylesheet" href="../static/css/main.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
	<style type="text/css">
		button:hover {
			box-shadow: 5px 5px 5px 5px grey;
		}
		.nav-item {
			margin:0% 5%;
			font-size:18px;
		}
		.logo {
			padding-top:10px;
			margin-left:5%;
		}
		.navbar {
			padding: 0px;
		}
	</style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
       if (window.web3) {
            metamaskWeb3 = new Web3(web3.currentProvider)
            console.log("MetaMask", metamaskWeb3);
       }
       function sleep(milliseconds) {
  			const date = Date.now();
  			let currentDate = null;
  			do {
    			currentDate = Date.now();
  			} while (currentDate - date < milliseconds);
		}
        function sendETH(_from, _to, _value, _headline, _username)
        {
        	web3.eth.sendTransaction({
            	from: _from,
            	to: _to,
            	value: _value,
            	}, function(error, hash){
            	    console.log("Hash", hash);
            	    console.log("Error", error);
            	    var obj = document.getElementById("pay");
        			obj.remove();
        			document.getElementById('pay_message').innerHTML= "You Bought the Idea at Price:";
					var val = hash;
        			document.getElementById('hash_value').value = val;
					document.getElementById('cur_headline').value = _headline;
					document.getElementById('post_username').value = _username;
					document.getElementById('update_hash_form').submit();
					sleep(5000);
        	});
        }


        function alert() {
			document.getElementById('alert').style.display = "none";
		}
    </script>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	  <a class="navbar-brand logo" href="#"><img src="../static/images/Icon.jpeg"></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:25%;">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/profile">Profile</a>
		  </li>
		</ul>
	  </div>
		  <form class="form-inline my-2 my-lg-0" method="GET" action="search" style="margin-right:5%;">
		  <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<button class="btn btn-primary" style="margin-right:2%;"><a href="/logout">Logout</a></button>
	</nav>
	<section style="margin-top:60px;">
		<div class="gap gray-bg">
			{% if msg %}
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
					<div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
						<h5>{{msg}}</h5>
						<button type="button" class="close" onclick="alert()">
						<span aria-hidden="true">&times;</span>
					  	</button>
					</div>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="container-fluid">
				<div class="row" id="page-contents">
					<div class="col-md-3">
						<aside class="sidebar static">
							<div class="widget">
								<h4 class="widget-title">Shortcuts</h4>
								<ul class="naves">
									<li>
										<i class="ti-clipboard"></i>
										<a href="/profile" title="">Profile</a>
									</li>
									<li>
										<i class="ti-power-off"></i>
										<a href="/logout" title="">Logout</a>
									</li>
								</ul>
							</div><!-- Shortcuts -->

						</aside>
					</div>
					<div class="col-md-6">
						<div class="central-meta">
							{% if posts|length %}
							{% for post in posts[::-1] %}
							<!-- add post new box -->
							<div class="loadMore">
								<div style="box-shadow:5px 5px 5px 5px grey;" class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img src="static/BLOB/{{post['username']}}/images/{{post['display']}}" >
											</figure>
											<div class="friend-name">
												<ins><a href="time-line.html" title="">{{ post['name'] }}</a></ins>
												<span> Published on: {{ post['date_time_added'] }}</span>
										    </div>
                                        </div>
										<div class="post-meta">
											<div class="description">

												<p> {{ post.post_headline }} </p>

											</div>
											{% if post.post_type == 'image' %}
												<img src="static/BLOB/{{post['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" align="middle">
											{% endif %}
											{% if post.post_type == 'video' %}
												<video width="100%" height="auto" controls>
													<source  src="static/BLOB/{{post['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" align="middle">
												</video>
											{% endif %}


											{% if post.bidding_status == 'closed' and post.bidding_person[-1] != session.username%}
												<h5>Sponser {{ post.bidding_person[-1] }} won the Bid at price {{ post.bid_price[-1] }}</h5>
											{% endif %}

											{% if post.post_type == 'audio' %}
												<center>
												<audio controls>
													<source src="static/BLOB/{{post['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}">
												</audio>
												</center>
											{% endif %}
											{% if post.post_type == 'document' %}
												<object data="static/BLOB/{{post['username']}}/posts/{{post.post_type + 's'}}/{{post.post_name}}" height="auto" width="100%"></object>
											{% endif %}
										</div>
										<br>
										<div class="row" style="padding:15px;">
											<div class="col-md-6">Base Price: {{post.base_price}}</div>
											<div class="col-md-6">Max. Bid Price: {{post.bid_price|last}} </div>
										</div>
										{% if post.bid_price|length %}
											<table class="table table-striped">
												  <thead>
													<tr>
													  <th scope="col">Bid Price</th>
													  <th scope="col">Bid Person</th>
													</tr>
												  </thead>
												  <tbody>
													  {% for i in post.bid_price %}
													  {% set price = post.bid_price[loop.index-1] %}
													  {% set name = post.bidding_person[loop.index-1] %}
															<tr>
																<td>{{price}}</td>
																<td>{{name}}</td>
															</tr>
													  {% endfor %}
												  </tbody>
											</table>
										{% else %}
											<div class="alert alert-danger" role="alert" style="width:100%;">
												<center>No Bids PLaced Yet!!</center>
											</div>
										{% endif %}
										<form name="bidding_form" method="POST" action="update_bid">
											<input type="text" name="email" value="{{ post.username }}" hidden>
											<input type="text" name="post_headline" value="{{ post.post_headline }}" hidden>
											<input type="text" name="bidding_person" value="{{ session.username }}" hidden>
											<input type="text" name="base_price" value="{{ post.base_price }}" hidden>

											{% if post.bidding_status == 'open' %}
												<h5>Your Bid Price:  <input type="text" name="bid_price">
												<button type="submit" class="btn btn-primary">Place Bid</button></h5>
											{% endif %}
											</form>
										{% if post.bidding_status == 'closed' and post.bidding_person[-1] == session.username  and post.transaction_hash == 'N/A'%}
												<center>
												<div style="clear: both">
													<h5 id="pay_message">You Won the Bid at Price:</h5>
													<h5>{{post.bid_price[-1]}}</h5>
												</div>
												<hr />
													<button id="pay" type="submit" onclick="sendETH('{{session['wallet_address']}}', '{{post['wallet_address']}}', {{post.bid_price[-1]}}, '{{post.post_headline}}', '{{post.username}}');" class="btn btn-danger">Pay</button>
												</center>
												<form action="update_transaction" method="POST" id="update_hash_form">
													<input type="text" name="hash" id="hash_value" hidden>
													<input type="text" name="headline" id="cur_headline" hidden>
													<input type="text" name="username" id="post_username" hidden>
												</form>
											{% endif %}
										{% if post.transaction_hash != 'N/A' %}
												<center>
												<div style="clear: both">
													<h5>You Bought this Idea at Price:</h5>
													<h5>{{post.bid_price[-1]}}</h5>
												</div>
												<hr />

												</center>
										{% endif %}
                                    </div>
								</div>
							</div>
							{% endfor %}
							{% else %}
								<div class="alert alert-danger" role="alert" style="width:100%;">
									<center>No Posts Shared Yet!!</center>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="col-md-3">
						<aside class="sidebar">
						<div class="widget">
							<h4 class="widget-title">
								Open For Bids
							</h4>
							<ul class="naves">
								<li>
									{% if posts|length %}
									<table class="table table-striped">
									  <thead>
										<tr>
										  <th scope="col">Post By</th>
										  <th scope="col">Current Bid Price</th>
										</tr>
									  </thead>
									  <tbody>
										  {% for post in posts[::-1] %}
											{% if post.bidding_status == "open" %}
										  		{% set name = post.name %}
										  		{% if not post.bid_price %}
										  			{% set price = post.base_price %}
										  		{% else %}
										  			{% set price = post.bid_price[-1] %}
										  		{% endif %}
										  	<tr>
												<td>{{name}}</td>
												<td>{{price}}</td>
											</tr>
										  	{% endif %}
										  {% endfor %}
									  </tbody>
									</table>
									{% else %}
										<div class="alert alert-danger" role="alert" style="width:100%;">
											<center>No bids open!</center>
										</div>
									{% endif %}
								</li>
							</ul>
						</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="foot-logo">
							<div class="logo">
								<img src="../static/images/Icon.jpeg" alt="">
							</div>
							<p>
							Patrons Pool Portal is a platform where an Idea is shared with Sponsors, to recieve Funds in a hassle free manner.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>B MANISH</h4></div>
							B.E(CSE, RNSIT), Bangalore<br>
                        	Full Stack Developer <br><br>
						    AWS Certified Cloud Support Associate, Working for Amazon Web Services as Cloud Support Intern since Feb 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>NISHANT SHARMA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Associate, Will be Working for Cimpress as Software Developer from Aug 2020.
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="widget">
						<div class="widget-title"><h4>SANKALP SAXENA</h4></div>
						B.E(CSE, RNSIT), Bangalore<br>
						Software Developer <br><br>
						Oracle Certified Java Professional, Working for HashedIn as Software Developer since Jan 2020.
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
</div>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="../static/js/map-init.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>	

</html>